html
  include partials/head.pug 
  body 
    h1(class= 'indexHeader') Maine Breweries API
    ul
      for brewery in breweries
        li 
          img(src=brewery.logo, class= 'breweryLogo', alt= brewery.name)
          div
          a(href=`/brewery/${brewery.id}`)= brewery.name

