html
  include partials/head.pug 
  body 
    h1(class= 'indexHeader') Maine Breweries API
    ul
      for brewery in breweries
        li 
          a(href=`/brewery/${brewery.id}`)
            img(src=brewery.logo, class= 'breweryLogo', alt= brewery.name)
            p= brewery.name

