html
  include partials/head.pug 
  body 
    h1 Maine Breweries API
    h2
      a(href='/apidocs', class= 'docHeader')
        p Documentation
    h2 Breweries
    ul
      for brewery in breweries
        li 
          a(href=`/brewery/${brewery.id}`)
            p= brewery.name
            img(src=brewery.logo, class= 'breweryLogo', alt= brewery.name)

