body {
  background-image: url('../sudsBackground.jpg');
  text-align: center;
}

ul {
  text-align: center;
  list-style: center;
  list-style-type: none;
}

.breweryLogo {
  padding-bottom: 25px;
  width: 250px
}

a:link {
  text-decoration: none;
  color:maroon;
  font-size: 20px;
}

.indexHeader {
  color:maroon;
  font-size: 75px;
}

.docHeader, h2 {
  color:maroon;
  font-size: 40px;
}